* {
    margin: 0px;
    padding: 0px;
}

$breakpoint-xs: 575px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: linear-gradient(rgba(106, 132, 154, 0.5), rgba(106, 132, 154, 0.5)), url("../images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
    background-size: cover;
    background-position: 50% -159px;

    #quote-box {
        position: relative;
        // width: 650px;
        height: auto;
        padding: 15px 35px 20px 35px;
        max-height: 473px;
        margin-bottom: 80px;

        background: rgba(175, 192, 208, 0.5);
        border-radius: 10px;

        h1 {
            width: auto;
            height: 60px;
            margin-bottom: 13px;
            @media (min-width: $breakpoint-sm) { margin-bottom: 15px; }
            @media (min-width: $breakpoint-md) { margin-bottom: 17px; }

            font-family: Caveat, cursive;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            @media (min-width: $breakpoint-sm) { font-size: 44px; }
            @media (min-width: $breakpoint-md) { font-size: 48px; }
            line-height: 60px;

            color: #243742;
        }

        #text {
            // width: 546px;
            // height: auto;
            margin-bottom: 13px;
            @media (min-width: $breakpoint-sm) { margin-bottom: 15px; }
            @media (min-width: $breakpoint-md) { margin-bottom: 17px; }
            max-height: 200px;
            // overflow: scroll;

            font-family: "Slabo 27px", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            @media (min-width: $breakpoint-sm) { font-size: 22px; }
            @media (min-width: $breakpoint-md) { font-size: 24px; }
            line-height: 29px;

            color: #243742;
        }

        #author {
            width: 100%;
            height: 27px;
            margin-bottom: 20px;
            @media (min-width: $breakpoint-sm) { margin-bottom: 24px; }
            @media (min-width: $breakpoint-md) { margin-bottom: 28px; }
            text-align: right;

            font-family: "Slabo 27px", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            @media (min-width: $breakpoint-sm) { font-size: 20px; }
            @media (min-width: $breakpoint-md) { font-size: 22px; }
            line-height: 27px;

            color: #243742;
        }

        #buttons {
            display: flex;
            justify-content: space-between;
            @media (max-width: $breakpoint-sm) {
                height: 86px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            
            #tweet-quote {
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 136px;
                // @media (max-width: $breakpoint-sm) {
                //     width: 200px;
                // }
                height: 40px;
                padding: 12px;
                
                font-family: Caveat, cursive;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                @media (min-width: $breakpoint-sm) { font-size: 20px; }
                @media (min-width: $breakpoint-md) { font-size: 22px; }
                line-height: 28px;
                
                color: #AFC0D0;
                
                background: rgba(45, 68, 82, 0.9);
                border-radius: 5px;
                
                #twitter-icon {
                    margin-right: 4px;
                }
            }

            #new-quote {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 139px;
                // @media (max-width: $breakpoint-sm) {
                //     width: 200px;
                // }
                height: 40px;
                padding: 12px;
                border: none;

                font-family: Caveat, cursive;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                @media (min-width: $breakpoint-sm) { font-size: 20px; }
                @media (min-width: $breakpoint-md) { font-size: 22px; }
                line-height: 28px;
                
                color: #AFC0D0;
                
                background: rgba(45, 68, 82, 0.9);
                border-radius: 5px;

                #reload-icon {
                    margin-right: 6px;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        color: #BBCFDD;

        #profile-link {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 104px;

            a {
                display: flex;
                align-items: center;
                color: #BBCFDD;

                &:hover  {
                    color: #9eafbb;
                }
            }

            #codepen-icon {
                width: 28px;
                height: 28px;
            }

            #github-icon {
                width: 28px;
                height: 28px;
            }

            #fcc-icon {
                width: 32px;
                height: 32px;
            }
        }

        p {
            font-family: "Patrick Hand", cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            @media (min-width: $breakpoint-sm) { font-size: 20px; }
            @media (min-width: $breakpoint-md) { font-size: 22px; }
            line-height: 32px;
        }
    }
}
